.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #04cc11;
}

.wy-side-nav-search {
    background-color: #04cc11}

a {
    color: #04cc11;}

.wy-side-nav-search input[type=text] {
    border-color: #04cc11;
}
